<div class="row clearfix">
    @foreach (var product in Model.Items)
    {
        <div class="col-lg-4 col-md-6 col-sm-12 shop-block">
            <div class="shop-block-one">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="@product.Thumbnail" alt="@product.Name" style="width: 300px; height: 300px; object-fit: cover;">
                    </figure>
                    <div class="lower-content">
                        <span class="price-box">$@product.Price</span>
                        <h3 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><a asp-area="Store" asp-controller="Shop" asp-action="Detail" asp-route-id="@product.Id">@product.Name</a></h3>
                        <div class="cart-btn">
                                <a href="javascript:void(0)" onclick="addToCart('@product.Id', 1)" class="theme-btn-two addtocart-btn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
